<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        {% for page in site.pages %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% unless forloop.last %} • {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
